.new-recipe{
	background-color: white;
	border-radius:10px;
	@include span-columns(10);

	.new-recipe-info{
		@include span-columns(4);
		@include shift(2);
		display:inline-block;
		padding-top:20px;
		input {
			font-size:1.5em;
			border: none;
			border-bottom: 2px solid #a5aad9;
			width: 12em;
			line-height: 200%;
			display: inline-block;
		}
	}
	input:focus {
		outline: none;
	}
	.new-recipe-checkbox{
		@include span-columns(2);
		display: inline-block;
		padding-top:20px;
		input{
			display:inline-block;
			vertical-align:middle;
		}
		label{
			line-height:200%;
			vertical-align:middle;
		}
	}
	.new-recipe-steps{
		margin-top:15px;
		@include span-columns(8);
		@include shift(1);

		input {
			border:none;
			font-size:1.5em;
			border-bottom: 2px solid #a5aad9;
			@include span-columns(4);
			margin: 10px;
			margin-top: 3.5em;
			line-height: 250%;

		}
	}
	.new-recipe-submit {
		background-color: #a5aad9;
		color: white;
		border-radius: 5px;
	}
	.new-ingredient-box, .new-step-box{
		margin-bottom: 90px;
		display: inline-block;
		height:10em;
		@include span-columns(4);
		background-color:  #a5aad9;
		border-radius: 10px;
		
		vertical-align: text-bottom;
	}
}